<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>netmera-api-key</key>
	<string>gFtyH_nz5WCdXraTsOOgL25er1sBpuQdYG_sGWuDau7QH6qTMC_h_bSxSf3pEDyB-qqyRuimXSE</string>
</dict>
</plist>
